/* General */
/* line 1, ../sass/custom/_general.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, ../sass/custom/_general.scss */
a,
a:link,
a:visited {
  color: #ed1c24;
  transition: all 0.15s;
}

/* line 12, ../sass/custom/_general.scss */
a:hover,
a:active {
  color: #fcaf17;
  text-decoration: none;
}

/* line 18, ../sass/custom/_general.scss */
p {
  line-height: 1.6875em;
}

/* line 22, ../sass/custom/_general.scss */
section {
  margin: 0;
}

/* line 26, ../sass/custom/_general.scss */
h1 {
  font-size: 1.8125em;
  text-transform: uppercase;
  margin-bottom: 0.4827586206896552em;
}
/* line 32, ../sass/custom/_general.scss */
h1:after {
  content: " ";
  display: block;
  width: 10.625em;
  height: 1px;
  background: #fcaf17;
  margin-top: 0.41379310344827586em;
}

/* line 43, ../sass/custom/_general.scss */
#main {
  padding: 2.4375em 1.875em 3.75em 1.875em;
}
/* line 46, ../sass/custom/_general.scss */
#main section {
  margin: 0 0 2.5em 0;
}
/* line 49, ../sass/custom/_general.scss */
#main section:last-child {
  margin: 0;
}

/* Page Components */
/* line 1, ../sass/custom/_top-header.scss */
.top-header {
  display: flex;
  align-items: center;
  padding: 0.9375em 1.875em;
  max-height: 6.25em;
}
/* line 8, ../sass/custom/_top-header.scss */
.top-header .slogan {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 1.25em;
  margin-left: 1.75em;
  margin-bottom: 0;
  line-height: 1.6em;
}
/* line 16, ../sass/custom/_top-header.scss */
.top-header .slogan .big {
  font-size: 1.45em;
}
/* line 22, ../sass/custom/_top-header.scss */
.top-header .lang-nav {
  font-size: 1.3125em;
  margin-right: 0.7142857142857143em;
}
/* line 27, ../sass/custom/_top-header.scss */
.top-header .lang-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
/* line 36, ../sass/custom/_top-header.scss */
.top-header .lang-nav ul li a:link,
.top-header .lang-nav ul li a:visited {
  color: #000;
}
/* line 41, ../sass/custom/_top-header.scss */
.top-header .lang-nav ul li a:hover,
.top-header .lang-nav ul li a:active {
  color: #fcaf17;
}
/* line 46, ../sass/custom/_top-header.scss */
.top-header .lang-nav ul li:after {
  content: "|";
  padding: 0 0.09523809523809523em;
}
/* line 52, ../sass/custom/_top-header.scss */
.top-header .lang-nav ul li:last-child:after {
  display: none;
}

/* line 1, ../sass/custom/_intro-image.scss */
.intro-image {
  background-color: #e1e0dc;
  background-image: url("../images/intro-image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 19.25em;
  padding: 1.4375em 1.625em 1.375em 1.625em;
}
/* line 17, ../sass/custom/_intro-image.scss */
.intro-image p {
  margin: 0;
}
/* line 21, ../sass/custom/_intro-image.scss */
.intro-image .big-slogan,
.intro-image .small-slogan {
  text-transform: uppercase;
  max-width: 40%;
  font-weight: bold;
  color: #4a433d;
}
/* line 29, ../sass/custom/_intro-image.scss */
.intro-image .big-slogan {
  font-size: 2.75em;
  line-height: 0.9772727272727273em;
}
/* line 34, ../sass/custom/_intro-image.scss */
.intro-image .small-slogan {
  font-size: 1.25em;
}

/* line 1, ../sass/custom/_nav.scss */
#nav {
  height: 3.75em;
}
/* line 5, ../sass/custom/_nav.scss */
#nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
/* line 13, ../sass/custom/_nav.scss */
#nav li {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  background: #fcaf17;
  margin-right: 1px;
}
/* line 21, ../sass/custom/_nav.scss */
#nav li:last-child {
  margin-right: 0;
}
/* line 27, ../sass/custom/_nav.scss */
#nav a,
#nav a:link,
#nav a:active {
  color: #000;
  height: 3em;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 1.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
/* line 41, ../sass/custom/_nav.scss */
#nav a:hover,
#nav a:active {
  color: #fff;
  background: #ed1c24;
  font-weight: bold;
}

/* line 3, ../sass/custom/_job-opportunities.scss */
.job-opportunities article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.25em;
  border-bottom: solid 1px #b7b7b7;
  transition: all 0.15s;
}
/* line 11, ../sass/custom/_job-opportunities.scss */
.job-opportunities article .heading {
  font-size: 1em;
  flex-basis: 90%;
  margin: 0;
  padding-right: 1.25em;
  line-height: 1.375em;
}
/* line 19, ../sass/custom/_job-opportunities.scss */
.job-opportunities article .button {
  background: #fcaf17;
  color: #fff;
  white-space: nowrap;
  font-size: 0.875em;
  padding: 0.536em 1.6428571428571428em;
}
/* line 27, ../sass/custom/_job-opportunities.scss */
.job-opportunities article:nth-child(odd) {
  background: #e1e1e1;
}
/* line 31, ../sass/custom/_job-opportunities.scss */
.job-opportunities article:hover {
  background: #fcaf17;
  cursor: pointer;
}
/* line 35, ../sass/custom/_job-opportunities.scss */
.job-opportunities article:hover .button {
  color: #fcaf17;
  background: #fff;
  text-decoration: none;
}
/* line 43, ../sass/custom/_job-opportunities.scss */
.job-opportunities article:last-child {
  border-bottom: 0;
}
/* line 47, ../sass/custom/_job-opportunities.scss */
.job-opportunities article p {
  flex-basis: 40%;
  margin: 0;
}

/* line 1, ../sass/custom/_benefits.scss */
.benefits {
  margin: 2.375em 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
/* line 9, ../sass/custom/_benefits.scss */
.benefits li {
  flex-basis: 33.33%;
  display: flex;
  align-items: center;
  padding: 0 0 2.5em 0;
}
/* line 16, ../sass/custom/_benefits.scss */
.benefits .image {
  flex-basis: 32%;
  text-align: center;
  margin: 0;
}
/* line 22, ../sass/custom/_benefits.scss */
.benefits .text {
  line-height: 1.5041782729805016em;
  font-size: 1.121875em;
  flex-basis: 68%;
  padding: 0 0.44568245125348194em 0 0.8356545961002786em;
}

/* line 1, ../sass/custom/_footer.scss */
#footer {
  background: #707070;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875em;
  height: 7.5em;
}
/* line 10, ../sass/custom/_footer.scss */
#footer .socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 16, ../sass/custom/_footer.scss */
#footer .socials li {
  margin-right: 0.625em;
}
/* line 19, ../sass/custom/_footer.scss */
#footer .socials li:last-child {
  margin-right: 0;
}
/* line 25, ../sass/custom/_footer.scss */
#footer .socials a {
  text-indent: -9999px;
  display: block;
  width: 36px;
  height: 36px;
}
/* line 32, ../sass/custom/_footer.scss */
#footer .socials .fb {
  background-image: url("../images/socials/icon-fb.png");
}
/* line 36, ../sass/custom/_footer.scss */
#footer .socials .twitter {
  background-image: url("../images/socials/icon-twitter.png");
}
/* line 40, ../sass/custom/_footer.scss */
#footer .socials .youtube {
  background-image: url("../images/socials/icon-yt.png");
}
/* line 46, ../sass/custom/_footer.scss */
#footer address {
  margin: 0;
  line-height: 1.6875em;
}
