body {
  font-family: 'Open Sans', sans-serif;
}

a,
a:link,
a:visited {
  color: $color-red;
  transition: $transition;
}

a:hover,
a:active {
  color: $color-orange;
  text-decoration: none;
}

p {
  line-height: 1.6875em;
}

section {
  margin: 0;
}

h1 {

  font-size: 1.8125em;
  text-transform: uppercase;
  margin-bottom: 0.4827586206896552em;

  &:after {
    content: " ";
    display: block;
    max-width: 10.625em;
    height: 1px;
    background: $color-orange;
    margin-top: 0.41379310344827586em;
  }

}

#main {
  padding: 2.4375em 1.875em 3.75em 1.875em;

  section {
    margin: 0 0 2.5em 0;

    &:last-child {
      margin: 0;
    }

  }

}

@media (min-width: 576px) {

  #main {
    padding: 2.4375em 0 3.75em 0;
  }

}

@media (max-width: 575px) {

  #main {
    padding: 1.875em;
  }

}